
.appContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app {
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 400px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-self: center; 
}

.calculatorContainer {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background-color: #900C3F;
	padding: 20px;
}

.buttonsContainer{
	background-color: #900C3F;
	padding-top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 10px 10px;
}

.link {
  display:flex;
  position: absolute;
  bottom: 5px;
  width: 100vw;

}

.linktext {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 18px;
}